@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
#app {
  max-width: 1280px;
  height: 100000px;
  margin: 0 auto;
  padding: 1.5rem 0;
  font-family: 'Press Start 2P';
  font-weight: normal;
}


